<nav class="navbar d-flex justify-content-between align-items-center px-4 py-2 shadow-sm" data-bs-theme="dark">

    <div class="navbar-brand">
        <a routerLink="/" class="navbar-brand fs-3"><b>Bluedit</b></a>
    </div>

    <div class="search-bar">
        <input type="text" class="form-control" placeholder="Search...">
    </div>

    <div class="nav-actions d-flex align-items-center">

        @if (!authService.currentUser()) {
            <a class="btn btn-outline-secondary me-2" routerLink="/signup">Sign Up</a>
            <a class="btn btn-dark" routerLink="/login">Log In</a>
        }

        @if (authService.currentUser(); as user) {
            <a class="btn btn-secondary me-3" routerLink="/create-post">
                + Create
            </a>
            
            <div class="profile-container position-relative">
                
                <div (click)="toggleMenu()">
                    <img 
                    [src]="user | avatarUrl" class="profile-circle bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center" 
                     style="width: 40px; height: 40px; cursor: pointer; object-fit: cover;">
                </div>

                    @if (isMenuOpen()) {
                    <div class="dropdown-menu show" style="position: absolute; right: 0; top: 45px; z-index: 1000; min-width: 150px;">
                        <a class="dropdown-item" [routerLink]="['/profile', user.id]" (click)="toggleMenu()">
                            My Profile
                        </a>
                        <button class="dropdown-item text-danger" (click)="logout()">
                            Log Out
                        </button>
                    </div>
                }
            </div>
        }

    </div>
</nav>