button {
  border-radius: 2rem !important;
}
/* Clase para la tarjeta cliqueable */
.clickable-post-card {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Efecto de iluminación al pasar el mouse por las zonas permitidas */
.clickable-post-card:hover {
    background-color: #2c3034 !important; /* Un gris sutilmente más claro que el bg-dark original de Bootstrap */
    box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.03) !important; /* Un leve brillo difuminado hacia afuera */
}

/* Restablecemos el cursor por defecto en las zonas que excluimos */
.non-clickable {
    cursor: default;
}