button {
  border-radius: 2rem !important;
}

.clickable-post-card {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.clickable-post-card:hover {
    background-color: var(--bs-secondary-bg) !important; 
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05) !important;
}

.non-clickable {
    cursor: default;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

.fullscreen-media {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    cursor: default;
}